<% include ./partials/header.ejs %>

<div class="container error-text">
    <h1>404</h1>
    <h3>The page you were looking for could not be found</h3>
    <a href="/">Click here to go back to the homepage</a>
</div>

<% include ./partials/footer.ejs %>