<% include partials/header %>
<div id="error" class="container">
    <h1>Sorry but the url or id you entered appears to be incorrect!</h1>
    <p>Make sure the URL is the for the course (ends in index.html) </p>
    <a href="/" class="btn btn-primary btn-large">Go back</a>
</div>
<% include partials/footer %>