<h1>WELCOME TO SOURCE GRADE</h1>

<form action="/scrape" method="POST">
<label for="userid" value="Gradesource ID">
<input type="text" id="userid" name="sourceid" placeholder="Gradesource ID">
</label>
<label for="url" value="Overall Course URL">
<input type="text" name="sourceurl" placeholder="Gradesource overall course URL">
</label>
<button>Submit</button>
</form>