<% include partials/header %>
<div class="container pad-top">
    <h1>GRADES</h1>
    <div id="grade-container" class="row text-center">
        <% grades.forEach(function(grade){ %>
            <div class="col-md-4 col-sm-6 col-xs-12">
                <div class="thumbnail">
                    <h3>For <%= grade.name %>:</h3>
                    <% if(grade.hasOwnProperty("Rank")) { %>
                        <p>Rank: <%=grade.Rank%></p>
                    <% } %>
                    <% if(grade.hasOwnProperty("Points")) { %>
                        <p>Points: <%=grade.Points%></p>
                    <% } %>
                    <% if(grade.hasOwnProperty("Score")) { %>
                        <p>Score: <%=grade.Score%></p>
                    <% } %>
                </div>
            </div>
        <% }); %>
    </div>
</div>
<% include partials/footer %>