html, body {
    width: 100%;
    background: #01A7C2;
    color: white;
    font-family: "Open Sans";
}

#head {
    color: white;
    font: 36px "Pacifico";
}

.form-group {
    min-width: 200px;
}


#grade-container {
    margin-top: 15px;
    display: flex;
    flex-wrap: wrap;
}

#error {
    width: 50%;
    margin: 200px auto;
}

#grade-container .thumbnail {
    height: 200px;
    background: #FFFFFF;
    color: black;
    font-family: "Open Sans";
    font-size: 15px;
}

#main-form {
    width: 50%;
    min-width: 200px;
    text-align: center;
    margin: 25px auto;
}

.auth-form {
    width: 50%;
    min-width: 200px;
    text-align: center;
    margin: 100px auto;
}

.pad-top {
    margin-top: 100px;
}

#delete-form {
    display: inline;
}
